			*{
				margin:0px;
				padding: 0px;
				font-family: "helvetica";
			}
			body{
				/*background-color: #d3dee1;*/
			}
			h3{
				font-size: 18px;
				text-align: center;
			}
			.bor{
				width: 220px;
				float: left;
				margin-top: 45px;
				margin-left: 50px;
			}
			.d-bor{
				width: 220px;
				float: left;
				margin: 0px 40px;
			}
			.content{
				width: 1100px;
				height: 825px;
				background: url(images/150617bg.jpg);
				margin: 30 auto;
			}

			/*info*/
			.info{
				width: 220px;
				height: 215px;
				background-color: #fff;
				border-radius: 5px;
				position: relative;
				/*margin: 0px 20px 45px 0px;*/
				margin-bottom: 20px;
				/*防止外边框间距合并*/
				float: left;
			}
			#info-title{
				width: 220px;
				height: 95px;
				border-radius: 5px;
				background: url(images/info-bg.jpg);
			}
			#avator{
				position: absolute;
				top: 61px;
				left: 75px;
				width: 71px;
				height: 71px;
				/*border: 1px solid #000;*/
			}
			#info-content{
				height: 83px;
				width: 220px;
				margin-top: 37px;
				text-align: center;
			}
			#info-content h2{
				font-size: 24px;
				color: #59676b;
				padding-top: 21px;
				margin: 0px;
			}
			#info-content p{
				font-size: 12px;
				color: #b3b3b3;
				margin-top: 9px;
			}
			/*info*/

			/*table*/
			.tabl{
				width: 220px;
				height: 275px;
				float: left;
				background-color: #fff;
				border-radius: 5px;
				margin: 45px 20px 0px 40px;
			}
			#table-title{
				color: #fff;
				background-color: #ffae00;
				box-shadow: 0px 2px #eba000;
				height: 58px;
				width: 220px;
				border-radius: 5px 5px 0px 0px;
			}
			#table-title h3{
				line-height: 58px;
			}
			#table-content ul{
				padding: 0px 15px;
			}
			#table-content li{
				border-bottom: 1px solid #f4f4f4;
				list-style-type: none;
				height: 40px;
				width: 190px;
				position: relative;
			}
			#table-content li:after{
				position: absolute;
				width: 25px;
				height: 10px;
				right: 4px;
				bottom: -17px;
				color: #dcdcdc;
				font-size: 10px;
			}
			#li1:after{
				content: "5,500";
			}
			#li2:after{
				content: "4,500";
			}
			#li3:after{
				content: "3,500";
			}
			#li4:after{
				content: "2,500";
			}
			/*table*/

			/*cal*/
			.cal{
				width: 220px;
				height: 275px;
				background-color: #ff895b;
				border-radius: 5px;
				color: #fff;
				text-align: center;
				float: left;
				margin: 45px 20px;
			}
			#cal-title{
				width: 220px;
				height: 58px;
				background-color: #e97e55;
				border-radius: 5px 5px 0px 0px;
			}
			#cal-title h3{
				line-height: 58px;
			}
			#cal-content{
				height: 217px;
			}
			#cal-content p{
				font-size: 137px;
				/*margin-top: 38px;*/
			}
			/*cal*/

			/*login*/
			.login{
				width: 220px;
				height: 275px;
				border-radius: 5px;
				background-color: #fff;
				margin: 45px 20px;
				float: left;
			}
			#login-title{
				background-color: #f9f9f9;
				width: 220px;
				height: 58px;
				box-shadow: 0px 2px #f1f1f1;
				line-height: 58px;
				color: #59676b;
				border-radius: 5px 5px 0px 0px;
			}
			.login input ,.login button{
				width: 180px;
				height: 45px;
				text-align: center;
				line-height: 45px;
				margin: 20px 20px 0px;
				border-radius: 5px;
			}
			.login input{
				color: #b3b3b3;
				background-color: #f4f4f4;
				box-shadow: 0px 2px #e5e5e5 inset;
				border: none;
				outline: none;
				font-size: 14px;
			}
			.login button{
				color: #fff;
				background-color: #70d572;
				box-shadow: 0px 2px #60ba62;
				font-size: 18px;
				border: none;
				cursor: pointer;
			}
			/*login*/

			/*graph*/
			.graph{
				width: 220px;
				height: 475px;
				float: left;
				background-color: #fff;
				border-radius: 5px;
				/*margin: 0px 0px 0px 45px;*/
				margin-top: 20px;
			}
			#graph-title{
				background-color: #78c8e6;
				width: 220px;
				height: 58px;
				line-height: 58px;
				box-shadow: 0px 2px #6eb7d2;
				border-radius: 5px 5px 0px 0px;
				color: #fff;
			}
			#graph-pic{
				margin: 27px 15px;
				width: 190px;
				height: 157px;
				border-bottom: 1px solid #f4f4f4;
				text-align: center;
				margin-bottom: 4px;
			}
			#graph-pic p ,#graph-pic span ,#graph-li li{
				color: #59676b;
			}
			#graph-pic p{
				font-size: 68px;

			}
			#graph-pic span{
				font-size: 14px;
			}
			#graph-li li{
				list-style-type: none;
				font-size: 14px;
				margin-top: 20px;
				position: relative;
				font-weight: bold;
				margin-left: 43px;
			}
			#graph-li li:before ,#graph-li li:after{
				position: absolute;
			}
			#graph-li li:before{
				content: " ";
				width: 10px;
				height: 10px;
				left: -29px;
				top: 3px;
				display: block;
			}
			#graph-li li:after{
				right: 15px;
				color: #b3b3b3;
				height: 10px;
			}
			#h-li1:before{	
				background-color: #78c8e6;
			}
			#h-li1:after{	
				content: "40%";
			}

			#h-li2:before{	
				background-color: #00cc0a;
			}
			#h-li2:after{	
				content: "8%";
			}

			#h-li3:before{	
				background-color: #ffe349;
			}
			#h-li3:after{	
				content: "15%";
			}

			#h-li4:before{	
				background-color: #ff895b;
			}
			#h-li4:after{	
				content: "25%";
			}

			#h-li5:before{	
				background-color: #7c94be;
			}
			#h-li5:after{	
				content: "12%";
			}
			/*graph*/

			/*sel1*/
			.sel1{
				color: #59676b;
				line-height: 52px;
				height: 52px;
				width: 220px;
				background-color: #fff;
				border-radius: 5px;
			}
			.sel1 h3 ,#sel2-title h3{
				font-size: 14px;
				text-align: left;
				margin-left: 18px;
				width: 160px;
				float: left;
				color: #59676b;
			}
			.sel1 img{
				float: left;
				display: block;
				margin: 16px 11px;
			}
			/*sel1*/

			/*sel2*/
			.sel2{
				height: 256px;
				width: 220px;
				border-radius: 5px;
				margin-top: 40px;
			}
			#sel2-title{
				background: url(images/sel-ico-n.png) no-repeat 189px center;
				background-color: #f9f9f9;
				border-radius: 5px;
				height: 54px;
				line-height: 52px;
			}
			.sel2:hover #sel2-title{
				box-shadow: 0px 2px #78c8e6;
				background: url(images/sel-ico-s.png) no-repeat 189px center;
				background-color: #f9f9f9;
				border-radius: 5px 5px 0px 0px;
			}
			#sel2-content ul{
				margin-top: 2px;
				display: none;
				background-color: #fff;
				border-radius: 0px 0px 5px 5px;
			}
			.sel2:hover #sel2-content ul{
				display: block;
			}
			#sel2-content li{
				list-style-type: none;
				height: 40px;
				border-bottom: 1px solid #f4f4f4;
				line-height: 40px;
				color: #b3b3b3;
				padding-left: 28px;
				font-size: 14px;
			}
			#sel2-li5{
				border: none;
				border-radius: 0px 0px 5px 5px;
			}
			#sel2-content li:hover{
				background-color: #78c8e6;
				color: #fff;
			}
			/*sel2*/

			/*icon*/
			.icon div{
				width: 50px;
				height: 45px;
				border-radius: 5px;
				margin-right: 6px;
				float: left;
				margin-top: 25px;
				background: url(images/150617ico.png) center center;
			}
			#ico-f{
				background-color: #5e76b3;
				box-shadow: 0px 2px #485e95;
				background-position: 0px;
			}
			#ico-g{
				background-color: #dd4b39;
				box-shadow: 0px 2px #b93e2e;
				background-position: -50px;
			}
			#ico-t{
				background-color: #78c8e6;
				box-shadow: 0px 2px #6eb7d2;
				background-position: -100px;
			}
			#ico-d{
				background-color: #f26797;
				box-shadow: 0px 2px #d25b85;
				margin-right: 0px;
				background-position: -150px;
			}
			/*icon*/

			/*d-bor button*/
			.d-bor button{
				width: 220px;
				height: 45px;
				border-radius: 5px;
				margin-top: 25px;
				text-align: center;
				line-height: 45px;
				border: none;
				background: url(images/150617icor.png) no-repeat left center;
				color: #fff;
			}
			#bt-f{
				background-color: #5e76b3;
				background-position: 0px 0px;
				box-shadow: 0px 2px #485e95;
			}
			#bt-t{
				background-color: #78c8e6;
				background-position: 0px -45px;
				box-shadow: 0px 2px #6eb7d2;
			}
			#bt-g{
				background-color: #dd4b39;
				background-position: 0px -90px;
				box-shadow: 0px 2px #b93e2e;
			}
			#bt-d{
				background-color: #f26797;
				background-position: 0px -135px;
				box-shadow: 0px 2px #d25b85;
			}
			/*d-bor button*/